h1 {
    font-size: 15px;
    text-transform: uppercase;
}

.nav-link {
    font-size: 17px !important;
}

.StartUp {
    color:#3DC2D8 !important;
    padding: 1.4286em .8575em !important;
}
.nav 
{
    background-color: #5e201e;
}
.nav-link {
    color:#E7E1D0 !important;
}